<nav class="navbar navbar-expand-md navbar-dark bg-dark position-sticky sticky-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <i class="bi bi-globe2 fs-3 me-2"></i>Image Uploader
        </a>

        <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav1-collapse">
            <div class="navbar-toggler-icon"></div>
        </div>

        <div class="navbar-collapse collapse" id="nav1-collapse">
            <hr class="d-md-none border border-info">
            <div class="navbar-nav ms-auto">
                <div class="nav-item text-capitalize">
                    <a class="nav-link" href="/"><i class="bi bi-box-arrow-up-left me-2"></i>Upload Photo</a>
                </div>
                <div class="nav-item text-capitalize">
                    <a class="nav-link" href="/allPhotos/"><i class="bi bi-images me-2"></i>See all photos</a>
                </div>
            </div>      
        </div>

    </div>
</nav>